html{
    box-sizing: border-box;
    background: burlywood;
    font-family: 'helvetica neue';
    font-size: 10px;
    font-weight: 100;
}

body{
    margin: 0;
}

*, *:before, *:after{
    box-sizing: inherit;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: rgb(31, 224, 31);
}

.panels{
    min-height: 100vh;
    overflow: inherit;
    display: flex;
}

.panel{
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: whitesmoke;
    text-align: center;
    align-items: center;
    /* safari transition end event.propertyname*/
    /*chrome + ff transition end event.propertyname === flex-grow*/

    transition:
        font-size 0.7s cubic-bezier(0.61 ,-0.19 ,0.7 ,-0.11),
        flex-grow 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        background 0.2s;

    font-size: 20px;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;    
}

.panel1 { background-image: url(./imagenes/Login1.jpg);}
.panel2 { background-image: url(./imagenes/Io.jpg);}
.panel3 { background-image: url(./imagenes/Seq.jpg);}
.panel4 { background-image: url(./imagenes/Drum.jpg);}
.panel5 { background-image: url(./imagenes/Piano.jpg);}

/* flex children */
.panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel > *:first-child {transform: translateY(-100%);}
.panel.open-active > *:first-child { transform: translateY(0);}
.panel:hover > *:first-child { transform: translateY(0);}
.panel > *:last-child {transform: translateY(100%);}
.panel.open-active > *:last-child { transform: translateY(0);}
.panel:hover > *:last-child { transform: translateY(0);}

.panel p {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 1em;
}

.panel p:nth-child(2){
    font-size: 2em;
}

.panel.open {
    flex: 3;
    font-size: 2em;
}


.cta {
    color: whitesmoke;
    text-decoration: none;
}