
*{
    background: radial-gradient(aqua,rgb(233, 165, 63) ,rgb(46, 12, 46));
}
#container{
    position: absolute;
    height: 200px;
    border: 2px groove rgb(61, 58, 58);
    border-radius: 4px;
    top:calc(50% - 100px);
    left: calc(50% - 350px);
}
.whitenote{
    height: 100%;
    width: 50px;
    background: rgb(39, 38, 38);
    float: left;
    border-radius: 4px;
    border-right: 2px solid black;
    position: relative;
}

.whitenote:active{
    height: 100%;
    width: 50px;
    background: radial-gradient(aqua,rgb(233, 165, 63) ,rgb(46, 12, 46));
    filter: drop-shadow(0px 0px 20px rgb(90, 255, 14));
    float: left;
    border-right: 2px solid black;
    position: relative;
}
.whitenote.open{
    height: 100%;
    width: 50px;
    background: radial-gradient(aqua,rgb(233, 165, 63) ,rgb(46, 12, 46));
    filter: drop-shadow(0px 0px 20px rgb(90, 255, 14));
    float: left;
    border-right: 2px solid black;
    position: relative;
}
